// Colores
$color-primario: #333;
$color-background: #d89e5c;
$color-bottom: #1d66ee;
$color-text: #222121;
$color-text-claro: #f4f4f4;
$color-nav: #e9ad2c;
$color-footer: #edf1f8;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;

// Espaciado
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;

// Ancho del contenedor
$container-width: 1200px;

//cards
$grid-gap: 20px;
$card-padding: 20px;
$border-radius: 10px;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$hover-scale: 1.05;
