@import "../utilities/variables";

.footer {
    background-color: $color-primario;
    color: $color-footer;
    padding: 20px 10px; 
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; 

    @media (max-width: $breakpoint-tablet) {
        padding: 15px 10px; 
        font-size: 0.9rem; 
    }

    @media (max-width: 400px) {
        padding: 10px 10px; 
        font-size: 0.8rem; 
    }
}