@import "../utilities/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $color-nav;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .logo-container {
        display: flex;
        align-items: center;
        margin-right: auto;
        flex-grow: 1;

        .logo {
            height: 70px;
            padding-right: 10px;
            border-radius: 15%;

            @media (max-width: $breakpoint-tablet) {
                height: 50px; 
            }
        }

        .title {
            flex-grow: 2;
            font-weight: bold;
            font-size: 40px;
            padding: 10px;
            text-align: center;

            @media (max-width: $breakpoint-tablet) {
                font-size: 30px;
            }

            @media (max-width: 400px) {
                font-size: 24px; 
            }
        }
    }

    .nav {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            list-style: none;
            gap: 25px;
            flex-wrap: wrap;

            li {
                padding: 10px;

                a {
                    text-decoration: none;
                    display: inline-block;
                    color: $color-primario;
                    font-size: 15px;
                    font-weight: bold;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $color-background;
                    }
                }

                @media (max-width: $breakpoint-tablet) {
                    padding: 8px; 
                }
            }

            @media (max-width: $breakpoint-tablet) {
                gap: 15px; 
                justify-content: flex-start; 
            }

            @media (max-width: 400px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 5px; 
            }
        }
    }
}