@import "../utilities/variables";
@import "../utilities/mixins";

.contact-section {
    padding: $spacing-large;
    background: linear-gradient(135deg, #f9f9f9, #e3e3e3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contac {
        display: flex;
        text-align: center;
        margin-bottom: 20px;
    }

    .contact-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $spacing-large;
        width: 90%;
        max-width: $container-width;

        @media (min-width: $breakpoint-tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            flex-wrap: nowrap;
        }

        @media (max-width: $breakpoint-tablet) {
            flex-direction: column; 
            align-items: stretch; 

            
            img {
                width: 100%;
                height: 300px;
                object-fit: contain;
            }
        }
    }

    .contact-form {
        background: rgba(255, 255, 255, 0.95);
        padding: $card-padding;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        width: 100%;
        max-width: 500px;

        label {
            font-weight: bold;
            display: block;
            margin-bottom: $spacing-small;
            color: $color-text;
        }

        input,
        textarea {
            @include form-field(#ccc, $color-bottom);
            color: $color-text;
            padding: $spacing-medium;
            font-size: 1rem;
        }

        textarea {
            resize: vertical;
            min-height: 150px;
        }

        button {
            padding: $spacing-medium;
            background-color: $color-bottom;
            color: $color-text-claro;
            border: none;
            border-radius: $border-radius;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            width: 100%;
            font-size: 1.1rem;
            font-weight: bold;

            &:hover {
                background-color: darken($color-bottom, 10%);
                transform: scale(1.05);
            }
        }
    }

    .contact-image {
        text-align: center;

        @media (min-width: $breakpoint-tablet) {
            text-align: left;
        }

        img {
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            max-width: 100%;
            height: auto;
            display: block;
        }

        @media (max-width: $breakpoint-tablet) {
            margin-bottom: $spacing-large; 
        }
    }
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;

    img {
        width: 50px;
        height: 50px;
        cursor: pointer;

        img:hover {
            opacity: 0.8;
        }
    }
}